python-dotenv
google-cloud-aiplatform
google-auth
google-cloud-bigquery
chromadb
sentence-transformers
pypdf
numpy
python-docx
reportlab
streamlit
torch --index-url https://download.pytorch.org/whl/cpu
